* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font: 400 14px, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialised;

}

input, button, textarea {
    font: 400 14px, sans-serif;
}

button {
    cursor: pointer;
}

form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 0 24px;
}

.button {
    width: 100%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.button:hover {
    filter: brightness(90%);

}


.back-link {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: opacity 0.2s;
}

.back-link svg {
    margin-right: 10px;
}

.back-link:hover {
    opacity: 0.8;
} 